

$primarycolor:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(239,177,69,1) 30%, rgba(239,177,69,1) 73%, rgba(0,0,2,1) 100%,);
$secondarycolor:rgb(63,94,251);
$colorsombra: 1px 1px 2px black, 0 0 5px rgba(239,177,69,1);

