/* import */
@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import './footer.scss';
@import './header.scss';
@import './mediasscreen.scss';
@import './_colors.scss';


/* SCSS */
head{
    border: solid 300px #f0eded;
    padding: 0px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    color: white;
    }


body{
    padding: 40px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 1390px;
    background-image: url(../imagenes/fondo-naranja-abstracto_1378-146.jpg);
    }

  /* CONTENIDO INICIO*/
  
  
h1{
    font-family: 'Archivo Black', sans-serif;
    color:black;
  }
.columnadelmedio
    {
    background-image:url(https://saboryestilo.com.mx/maestros-de-la-parrilla/como-preparar-carne-para-hamburguesa/);
    }
.bienvenida{
    text-align: center;
    font-family: Light 300 Italic;
    text-shadow: $colorsombra;
    color: black;
  }
  .Recomendados{
    font-family: 'Archivo Black', sans-serif;
  }
.boxhamburguer{
    margin: 50px 10px;

}
.boxrecomendados{
    height: 80px;
    font-size: 40px;
    background-image: url(../imagenes/fondo-naranja-abstracto_1378-146.jpg)} 

.imagen {
    width: 50%;
    height: 50px;
    opacity: 0.3;
    image-orientation:initial;
    text-align: center;
  }
  .bk-colorgradient{
     background:$primarycolor;
     color: $primarycolor;
  }
  hr{
    height: 3px;
    background-color: black;
    width: 90%;
  }
  h2{
    color: black;
    text-transform: uppercase;
    text-decoration: underline;}

    .picture {
    background-color: white;
    border: 4px solid black; 
    padding: 20px;
    font: 22px 'Archivo Black', sans-serif;
    display: inline-block;
    
    img {
    border: 1px solid #CCCCCC;
    vertical-align:auto;
    margin-bottom: 100px;
    margin:10px auto;
        }
    }


 /*inicio*/

.cuadradocentral{
  position:absolute;
  padding-left: 100px;
}
 .comiendohamburguesa{
    border-radius: 8px;
    padding: 3px;
    width: 450px;
    opacity: 1;
    background-color:rgba(239,177,69,1) 
      }
  .hamburguesaconqueso{
    padding: 2px;
    width: 15px;
    background-color:rgba(239,177,69,1) 
  }
  
  .cuadrado{
    position:relative;
    animation-duration: 4s;
    animation-name: colorescuadrado;
    margin: 20 0;
    padding: 8px;
    width: 390px;
    background-color:rgba(239,177,69,1) ;
   
  @keyframes   colorescuadrado {
    0%   {background-color: black;}
    25%  {background-color: rgba(239,177,69,1);}
    50%  {background-color: black;}
    100% {background-color: rgba(239,177,69,1);}
  }
  }

  /*contactoubicacion*/
.imagenmapa{
    padding: 10px;
    width: 900px;
    
  }
  /*pedido online*/
.comentariosdelpedido{
      color: black;
  }
.boton{
    border-style:double;
    background-color:black;
  }
  .titulohambuerguesas{
    color: black;
        }
  
  /*quienessomos*/
.texto{
    text-align:center;
    margin: auto;
    color: black;
    opacity: 0px;
    text-shadow: white;
    }
.imagenfondo{
    opacity:50%;
    size: 100%;
    background-size: contain;
  }
.cajacontenedora{
    display: flex;
    flex-direction:row wrap;
  
  }


