@import './_colors.scss';
 
 /* footer */
  
 .footer{
  display: grid;
  position: fixed;
  background:$primarycolor;
  color: $primarycolor;
  width: 100%;
  margin: 2px 5px;
  padding: 2px;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  opacity: 100%;  
  color: white;
  grid-template-columns: 200px 400px;
  grid-row: 10px;
  justify-content: center;
    
.instagram{
border-radius: 25%;
transition:all 0.8s ease;
 &:hover{
transition:all 0.8s ease;
transform: scaleX(-1);
}}

.facebook{
border-radius: 25%;
transition:all 0.8s ease;
  &:hover{
transition:all 0.8s ease;
transform: scaleX(-1);
}}
.container1{
text-align: center;
padding: 10px 0;
font-size: small;


}
.container2{
text-align: center;
padding: 8px 0;
font-size: small;
}
}